<table *ngIf="employee">
  <thead>
      <tr>
          <th attr.colspan="{{columnSpan}}">
              Employee Details
          </th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Employee Code</td>
          <td>{{employee.code}}</td>
      </tr>
      <tr>
          <td>Name</td>
          <td>{{employee.name}}</td>
      </tr>
      <tr *ngIf='showDetails'>
          <td>Gender</td>
          <td>{{employee.gender}}</td>
      </tr>
      <tr *ngIf='showDetails'>
          <td>Annual Salary</td>
          <td>{{employee.annualSalary}}</td>
      </tr>
      <tr>
          <td>Date of Birth</td>
          <td>{{employee.dateOfBirth}}</td>
      </tr>
  </tbody>
</table>
<br />
<button (click)='toggleDetails()'>
  {{showDetails ? 'Hide' : 'Show'}} Details
</button>
<br />
<div *ngIf="!employee">
  {{statusMessage}}
</div>
<!-- Router navigator -->
<br />
<div style="margin-top:5px">
  <input type="button" class="btn btn-primary" value="Back to Employees List"
         (click)="onBackButtonClick()"/>
</div>
